#abinfo {
    background-color: gainsboro;
    border: gray 1px solid;
    border-radius: 0.25rem;
    margin: 2px;
}

#abinfo > div{
    width: fit-content;

    display: grid;
    grid-template-columns: 10rem 1fr 10rem 1fr;

    margin: 0 auto;
    padding: 0;   
}

#abinfo p {
    margin: .4rem;
    text-align: left;
}

#abinfo .label {
    text-align: right;
    font-weight: 200;
}

#albumedit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#uploader {
    background-color: gainsboro;
    border: gray 1px solid;
    border-radius: 0.25rem;
    margin: 2px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#uploader input  {
    margin: 0rem 1rem;
    padding: 2px;
}

#uploader button {
    padding: 4px 7px;
}




#shotlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    padding: 0;
    list-style: none;
}

