
.album {
    /* width: 300px; */
    margin: 7px;

    background-color: black;
    color: white;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.album img {
    object-fit: contain;
    object-position: center;
}

.album .label {
    font-weight: 200;
    text-align: left;
    margin: 1rem 1rem 0 1rem;
}

.album p {
    margin: .5rem 0 1rem 1.5rem;
    text-align: left;
    word-wrap: break-word;
}

.albumname {
    font-size: 1.4rem;
    color: var(--bright-color)
}

@media screen and (max-width: 650px) {
    .album {
        width: 100%;
        flex-direction: row;
    }

    .album img {
        width: 40%;
    }


}

