#abinfo {
    box-sizing: border-box;
    background-color: gainsboro;
    border: gray 1px solid;
    border-radius: 0.25rem;
    margin: 2px;
}

#abinfo > div{
    display: grid;
    grid-template-columns: 10rem 1fr 10rem 1fr;

    margin: 0 auto;
    padding: 0;   
}

#abinfo p {
    margin: .4rem;
    text-align: left;
    word-wrap: break-word;
}

#abinfo .label {
    text-align: right;
    font-weight: 200;
}

#albumedit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#uploader {
    background-color: gainsboro;
    border: gray 1px solid;
    border-radius: 0.25rem;
    margin: 2px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#uploader input  {
    margin: 0rem 1rem;
    padding: 2px;
}

#uploader button {
    padding: 4px 7px;
}

#uploader > p {
    margin: 0;
}

#shotlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 800px) {
    #abinfo > div{
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    #abinfo .label {
        text-align: left;
        font-weight: 200;
        margin: 1rem 0 0rem 5px;
    }

    #abinfo p {
        margin: 0 0 .5rem 1rem;
        text-align: left;
        word-wrap: break-word;
    }

    #uploader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #uploader .upform {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #uploader .upform button  {
        width: 100%;
    }

    #uploader .upform input  {
        width: 100%;
    }
}