.bigshot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    z-index: 10;
    background-color: rgb(27, 27, 27);
}

.bigshotholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigshot img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.bigshotinfo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;

    opacity: 0;
}

.bigshotinfo:hover {
    opacity: 1;
    transition: opacity 0.5s;
}


.bigshotinfo .label {
    font-weight: 200;
    text-align: left;
    margin: 1rem 1rem 0 1rem;
}

.bigshotinfo p {
    margin: .5rem 0 1rem 1.5rem;
    text-align: left;
    overflow: hidden ;
    word-wrap: break-word;
}

.bigshotinfo .btn {
    width: 30%;
    grid-column-start: 1;
}

