.shot {
    width: 250px;
    height: 250px;

    position: relative;
    margin: 3px;

    background-color: black;
    color: white;

    cursor: pointer;
}

.shot img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.shot .holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: black;
    color: white;
    opacity: 0.0;
    transition: opacity .25s;
}

.shot .holder:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.699);
}

.shotinfo {
    display: grid;
    grid-template-columns: 1fr;
}

.shot .label {
    font-weight: 200;
    text-align: left;
}

.shot p {
    margin: .3rem;
    text-align: left;
    overflow: hidden ;
    word-wrap: break-word;
}

.shot .shotkiller {
    position: absolute;
    top: 0;
    right: 0;
    width: 16%;
    height: 16%;
    /* z-index: 3; */
    opacity: .35;
    background-color: salmon;
    transition: opacity .5s;
}

.shot .shotkiller:hover {
    opacity: 1;
}