#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    color: white;
    background-color: rgb(48, 48, 48);
    z-index: 10;
}

#topspacer {
    min-height: 44px;
}

#topbar .logo {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;

    margin: 4px 0 0 1rem;
    font-weight: 300;
    color: white;
    transition: color 0.25s;
}

#topbar .logo:hover {
    color: var(--bright-color);
}


#topbar nav {
    margin-right: 1rem;
    text-decoration: none;
    
    display: flex;
    flex-direction: row;

    margin: 7px 0;
    color: white;
}

#topbar nav p {
    cursor: pointer;
    margin: 0 1rem 0 0;
    transition: color 0.25s;
}

#topbar nav p:hover {
    color: var(--bright-color);
}
