#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    color: white;
    background-color: rgb(48, 48, 48);
    z-index: 10;

    border-bottom: rgb(75, 75, 75) 1px solid;
    align-items: center;
}

#topspacer {
    min-height: 44px;
}


#topbar .logo {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: color 0.25s;
    text-align: left;
    margin: 7px;
    box-sizing: border-box;
}


#topbar .logo:hover {
    color: var(--bright-color);
}


#topbar nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-decoration: none;
    color: white;
}

#topbar nav p {
    cursor: pointer;
    transition: color 0.25s;
    margin: 7px 16px;
}

#topbar nav p:hover {
    color: var(--bright-color);
}

.searchform {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchform input[type="text" i] {
    width: 100%;
    height: 27px;
    border-radius: 3px;
    background-color: gainsboro;
}


@media screen and (max-width: 900px) {
    #topbar {
        grid-template-columns: 1fr 1fr;
    }

    #topspacer {
        min-height: 76px;
    }

    #searchDiv {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #topbar nav {
        grid-row: 1;
        grid-column: 2;
    }

}