#userview {
    margin: 1rem 0;
}

#abmaker {
    border: gray 1px solid;
    border-radius: 0.25rem;
    margin: 2px;

    background-color: gainsboro;
    color: black;
}


#albumlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: .5rem;
}


@media screen and (max-width: 550px) {
    #abmaker .formdiv {
        display: flex;
        flex-direction: column;
    }
    
}