:root {
  background-color: rgb(32, 32, 32);
  --bright-color: salmon;
}

.App {
  text-align: center;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}



.formdiv {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.formdiv label {
  margin: 0.25rem 1rem;
  justify-self: right;
  text-transform: lowercase;
}

.formdiv input {
  margin: 0.25rem 0rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(65, 65, 65);
}

.formdiv input[type="text" i] {
  padding: 4px;
}

.formdiv button {
  margin: 0.25rem .25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid rgb(65, 65, 65);
  background-color: rgb(36, 36, 36);
  color: white;
  grid-column-start: 2;
  transition: background-color 0.5s;
}

.formdiv button:focus {
  background-color: var(--bright-color);
}

.formdiv button:hover {
  background-color: var(--bright-color);
}


.formdiv p { 
  margin: 0.25rem 1rem;
  color: gray;
}


.msgline {
  margin: 0;
}